body{
  margin: 0px;
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 11%, rgba(104,143,187,1) 100%, rgba(0,212,255,1) 100%);
}
.canvasContainer{
  margin: 0 auto;
  text-align: center;
  position: relative;
  font-size: 0px;
  
}
/* .canvasContainer canvas{
 box-shadow:3px 3px 0px #414345;
  
} */
.canvasContainer .score{
  position: absolute;
  font-weight: bold;
  font-size: 1.5em;
  left: 0px;
  top: 0px;
  width: 100%;
  
}
.gameEnd,.gameStart{
  font-family: 'Silkscreen', cursive;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  left: 0px;
  width: 100%;
  font-size: 2.5rem;
  text-shadow: -1px -1px rgb(180, 177, 177);
  
  

}
.canvasContainer button{
  background-color: #FFF;
  border: 1px solid #AAA;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 20px;
  cursor: pointer;
}
.none{
  display: none;
}

.game-btn{         
  
     background-image: linear-gradient(to right, #232526 0%, #414345  51%, #232526  100%);
     margin: 10px;
     padding: 15px 45px;
     text-align: center;
     text-transform: uppercase;
     transition: 0.5s;
     background-size: 200% auto;
     color: white;            
     box-shadow: 0 0 20px #eee;
     border-radius: 10px;
    
   
}
  .game-btn:hover {
     background-position:center; /* change the direction of the change here */
     color: #fff;
     text-decoration: none;
   }
  
.score{color: #FFF;
margin-left: 10%;
}







/* another one */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
   
}

nav{
    position: sticky;
    top: 0;
    background: white;
    height: 55px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
}

nav span{
    color: orangered;
    padding-right: 20px;
}

a{
  color:rgb(49, 107, 146);
  font-weight: 500;
  line-height: 60px;
  margin: 20px;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    text-transform: uppercase;
}

li a:hover{
    background: rgb(62, 119, 158);
    color: white;
    font-size: 20px;
    border-radius: 8px;
    padding: 2px;
}

.checkbtn{
    font-size: 30px;
    color:rgb(49, 107, 146);
    margin: 10px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media screen and (max-width: 680px){
   h2{
        font-size: 40px;
    }
    
    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        top: 80px;
        left: -100%;
        width: 100%;
        height: 100%;
        background: rgb(49, 107, 146);
        color: white;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
       
    }
    nav ul li a{
        color: white;
        font-size: 25px;
        padding: 15px;
    }

    li a:hover{
        background: white;
        color: rgb(62, 119, 158);
        font-size: 30px;
        border-radius: 8px;
        padding: 2px;
    }

    #check:checked ~ ul{
        left: 0;
    }
    
}

@media screen and (max-width: 680px){
    
}



/* jayesh */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
p{
	font-family: serif;
	font-size : 25px;

}
.section{
	width: 100%;
	min-height: 100vh;
	
}
.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 100px;
}
.content-section{
	float: right;
	width: 55%;
}
.image-section{
	float: left;
	width: 40%;
}
.image-section img{
	width: 100%;
	height: auto;
}
.content-section .title{
	text-transform: uppercase;
	font-size: 28px;
}
.content-section .content h3{
	margin-top: 20px;
	color:#5d5d5d;
	font-size: 21px;
}
.content-section .content p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
}
.content-section .content .button{
	margin-top: 30px;
}
.content-section .content .button a{
	background-color: #3d3d3d;
	padding:12px 40px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
	background-color: #a52a2a;
	color:#fff;
}
.content-section .social{
	margin: 40px 40px;
}
.content-section .social i{
	color:#a52a2a;
	font-size: 30px;
	padding:0px 10px;
}
.content-section .social i:hover{
	color:#3d3d3d;
}
@media screen and (max-width: 768px){
	.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.image-section{
	float:none;
	width:100%;
	
}
.image-section img{
	width: 100%;
	height: auto;
	display: block;
	margin:auto;
}
.content-section .title{
	text-align: center;
	font-size: 19px;
}
.content-section .content .button{
	text-align: center;
}
.content-section .content .button a{
	padding:9px 30px;
}
.content-section .social{
	text-align: center;
}

}




.abd {
  

 margin: 0px auto;
  text-transform: uppercase;
  font-family: verdana;
  font-size: 2em;
  font-weight: 700;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #919191,
      1px 2px 1px #919191,
      1px 3px 1px #919191,
      1px 4px 1px #919191,
      1px 5px 1px #919191,
      1px 6px 1px #919191,
      1px 7px 1px #919191,
      1px 8px 1px #919191,
      1px 9px 1px #919191,
      1px 10px 1px #919191,
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);
}


















